@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('../../modules/hurme/bold/HurmeGeometricSans2-Bold.woff2') format('woff2'),
        url('../../modules/hurme//bold/HurmeGeometricSans2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('../../modules/hurme/regular/HurmeGeometricSans2-Regular.woff2') format('woff2'),
        url('../../modules/hurme/regular/HurmeGeometricSans2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('../../modules/hurme/black/HurmeGeometricSans2-Black.woff2') format('woff2'),
        url('../../modules/hurme/black/HurmeGeometricSans2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('../../modules/hurme/semibold/HurmeGeometricSans2-SemiBold.woff2') format('woff2'),
        url('../../modules/hurme/semibold/HurmeGeometricSans2-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

