<nav class="navbar navbar-expand-md fixed-top">
    <a routerLink="/" class="navbar-brand" href="#"><img style="max-width: 170px;"
        src="../../assets/images/logo-white.svg" alt=""></a>
    <button (click)="onClick()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
        <!-- <i [ngClass]="{'fas fa-door-closed': !isClicked,'fas fa-bars': isClicked}" style="color:#fff; font-size:28px;"></i> -->
  
    </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item" *ngIf="role==='admin'">
          <i class="fas fa-video"></i>
          <a  class="nav-link" 
              routerLink="/detection" 
              data-toggle="collapse" 
              data-target=".navbar-collapse.show" 
              routerLinkActive="active">
               
              Rekognition 
          </a>
        </li>
  
        <li class="nav-item">
          <i class="fas fa-file-image"></i> 
          <a  class="nav-link" 
              routerLink="/collection" 
              data-toggle="collapse" 
              data-target=".navbar-collapse.show" 
              routerLinkActive="active"
              >
              
              Collection 
          </a>
        </li>
  
        <li class="nav-item">
          <i class="fas fa-film"></i>
          <a class="nav-link" routerLink="/mon-historique" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active"> Mon Historique </a>
        </li>
  
        <li class="nav-item">
          <i class="fas fa-camera"></i>
          <a class="nav-link" routerLink="/conditions" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active"> Prise De Vues</a>
        </li>
  
      </ul>
    </div>
  </nav>
  
  