<div style="height: 100px"></div>
<div class="container col-11 bg-light p-5" style="border-radius: 15px">
	<div class="col-lg-6 col-md-8 col-sm-12 m-auto">
		<div class="form-group mb-3">
			<h5 class="text-center mr-3">
				Historique de détections le <strong>{{ selectedDate }}</strong>
			</h5>
		</div>

		<div class="form-group">
			<label for="dateToday" class="mr-1">Sélectionner une date:</label>

			<input type="date" id="dateToday" (change)="updateDate()" [(ngModel)]="selectedDate" />
			<!--<button class="btn btn-danger ml-5" (click)='addData()'>Ajouter des fausses données</button>-->
		</div>

		<div class="row align-items-center" style="height: 40px; background-color: #008dd1">
			<div class="col text-light">DATE</div>
			<div class="col text-light">PartnerID</div>
			<div class="col text-light">Confidence</div>
		</div>
		<div></div>
		<div *ngFor="let prestataire of prestataires">
			<div class="row align-items-center border one-prestataire"
				(click)="navigateToPrestataire(prestataire.PartnerID)" [ngClass]="{
				'bg-warning': prestataire.similarity < 90,
				'bg-danger text-light': prestataire.similarity < 80}">
				<div class="col">{{ prestataire.Date | date:'dd/MM/yyyy - a'}}</div>
				<div class="col">{{ prestataire.PartnerID }}</div>
				<div class="col">{{ prestataire.Confidence | number:'1.0-2' }}</div>
			</div>
		</div>
	</div>
</div>