<div style="height: 100px"></div>
<div class="container col-11 bg-light p-5" style="border-radius: 15px;">
    <div class="col-lg-6 col-md-8 col-sm-12 m-auto">
        <div class="form-group mb-3">
            <h5 class="text-center mr-3">Historique de <strong>{{PartnerID}}</strong> le <strong>{{selectedDate}}</strong></h5>
        </div>

        <div class="form-group">
            <label for="dateToday" class="mr-1">Sélectionner une date:</label>
            <input type="date" id="dateToday" (change)="newDate()" [(ngModel)]="selectedDate">
        </div>

        <div class="row text-light align-items-center" style="height: 40px; background-color:#008DD1">
            <div class="col text-light">DATE</div>
            <div class="col text-light text-center">CONFIDENCE</div>
        </div>

        <div *ngFor="let prestataire of prestataires ">

            <div class="row align-items-center border one-prestataire"
                [ngClass]="{'bg-warning': prestataire.similarity < 90 , 'bg-danger text-light': prestataire.similarity < 80 }">
                <div class="col">{{ prestataire.Date | date:'dd/MM/yyyy - a'}}</div>
                <div class="col text-center">{{prestataire.Confidence | number:'1.0-2' }}</div>
            </div>
        </div>
        <div class="my-3">
            <a class="btn flux-direct" routerLink="/detection">Historique de détections</a>
        </div>
    </div>
</div>
